* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #5D737E;
    text-align: center;
}

h1{
    margin-top: 1.5rem;
    color: #2F0A28;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 6vmin;
    color: #3F6C51;
    background-color: #ffffc7;
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    background-color: #34344A;
    color: #fff;
    border-radius: 1rem;
}

#new {
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    background-color: #34344A;
    color: #fff;
    border-radius: 1rem;
}

#message {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}